* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

header {
  position: relative;
  text-align: center;
  color: white;
}

header img.header-image {
  width: 100%;
  height: auto;
  max-height: 100vh;
  object-fit: cover;
}

header h1 {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%);
  font-size: 2.5rem;
  letter-spacing: 0.7rem; /* Leichtes Anpassen des Abstands */
  text-align: center; /* Text wird zentriert */
  width: 100%; /* Nimmt die ganze Zeile ein */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

nav {
  background-color: transparent; /* Transparenter Hintergrund */
  padding: 1rem 0;
  position: absolute;
  top: 5%;
  width: 70%;
  left: 50%;
  transform: translateX(-50%);
  letter-spacing: 0.5rem;
  border: 4px groove white; /* Breiter Rahmen */
  border-radius: 20px 10px 40px 0;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 4rem;
}

nav ul li {
  font-size: 1.2rem;
}

nav ul li a {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
}

nav ul li a:hover {
  background-color: rgba(255, 255, 255, 0.2); /* Hintergrundfarbe beim Hover */
  border-radius: 5px;
}
